@font-face {
  font-family: 'AdiHaus';
  src: URL('https://assets.codepen.io/6060109/adihaus_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AdiHaus";
  src: url("https://assets.codepen.io/6060109/adihaus_bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body { 
  background-color: #F2F2F2;
  margin: 0;
  font-family: AdiHaus;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}
#top-logo {
  display: block;
  margin: auto;
  margin-top: 1rem;
}

#athlete {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.text {
  text-align: center;
}

h2 {
  font-size: 45px;
}

.we-are {
  color: #cd3a23;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 5px;

}

.coming-soon {
  color: #423A3A;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.bottom-text {
  margin: 0 27px;
  line-height: 28px;
  font-size: 15px;
  margin-bottom: 2rem;
}

/** .email {
  margin-top: 20px;
  border: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-left: 10%;
  min-width: 50px;
 }

 #email {
  height: 2.5rem;
  border: 1px solid #333333;
  padding-left: 15px;
  width: 20rem;
 }

button {
  background-color: #333333;
  color: white;
  border: 0;
  border-radius: 3.5px;
  padding: 15px;
  position: absolute;
  padding: 15px;
  cursor:pointer;
  right: 0.01px;
  top: 50%;
  transform: translate(0, -50%);
}
**/
form {
  display: flex;
  justify-content: center;
}

input[type="email"] {
  width: 75%;
  height: 2.5rem;
  box-sizing: border-box;
  padding-left: 15px;
}

input[type="submit"] {
  width: 13%;
  height: 2.5rem;
  color: white;
  background-color: #333333;
  border-radius: 3px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 2rem;
}